// Цвета
$main: rgb(98, 110, 129);
// Кнопки
$accept: rgba(53, 129, 201, 0.6);
$decline: rgba(201, 95, 53, 0.6);
$back: rgba(148, 134, 128, 0.7);
// Заметки
$personal: rgb(70, 201, 53);
$work: rgb(53, 129, 201);
$important: rgb(201, 95, 53);
$default: rgb(120, 120, 120);
